main {
  padding-top: 4em;
}

.blog-heading {
  text-align: center;
  padding: 10px 0;
  font-size: 2em;
}

section {
  line-height: 1.525em;
  font-size: 1.1em;
}

.section-heading {
  margin: 25px 0 7px 0;
}

figure {
    border: 2px solid rgb(224, 224, 224);
    border-radius: 20px;
    padding: 5px;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;

}

img {
    width: 100%;
    border-radius: 20px;
}

figcaption {
    color: rgb(179, 179, 179);
    font-style: italic;
    font-size: 0.925em;
}

blockquote {
  font-style: italic;
  padding: 0 10px;
  margin: 10px 0;
  background-color: rgba(255, 105, 180, 0.158);
  text-align: center;
}

@media (prefers-color-scheme: dark) {
    figure {
        border: none;
    }
    img {
        filter: brightness(0.75);
    }
  }