header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--main-bg-dark);
  z-index: 999;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 5px;
  max-width: 854px;
  margin: 0 auto;
}

.home {
  font-size: 28px;
  font-weight: 800;
  color: var(--text-light);
}

.menu-bar {
  display: none;
}

.menu-bar ul li {
  color: var(--text-light);
  padding: 16px 25px;
  font-size: 1.5em;
}

.menu {
  font-weight: 700;
  font-size: 1.33em;
  background-color: rgba(247, 247, 247, 0.952);
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
  padding: 0 5px;
  display: none;
}

.menu ul {
  list-style: none;
}

.menu a {
  color: var(--main-bg-dark);
}

.menu li {
  border-bottom: #c0c0c0 1px solid;
  padding: 15px 0;
}

.menu li:hover,
.menu-bar li:hover {
  background-color: rgb(255, 255, 255);
}

.menu-bar li:hover {
  color: #797979;
}

/* hamburger animation */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: white;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham .top {
  stroke-dasharray: 40 121;
}
.ham .bottom {
  stroke-dasharray: 40 121;
}
.ham.active .top {
  stroke-dashoffset: -68px;
}
.ham.active .bottom {
  stroke-dashoffset: -68px;
}

/* media queries */
@media only screen and (min-width: 600px) {
  #navigation .ham {
    display: none;
  }
  .menu-bar {
    display: block;
  }

  .menu-bar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: #1e1e1e;
    border-bottom: 1px solid rgb(51, 51, 51);
  }
  .home {
    color: var(--text-dark);
  }

  .menu {
    background-color: rgba(80, 80, 80, 0.356);
  }
  .menu li {
    color: var(--text-dark);
  }
  .menu li:hover,
  .menu-bar li:hover {
    background-color: rgb(214, 214, 214);
    color: rgb(83, 83, 83);
  }
}
