h1 {
  font-size: 3.5em;
  color: rgb(212, 212, 212);
}

.primary {
  font-size: 1.725rem;
  line-height: 1.5em;
  font-weight: 400;
  margin: 15px auto;
}

.box-header {
  display: inline-block;
  border-bottom: var(--link-light) 3px solid;
  font-size: 1.4em;
}

.shadow-bg {
  background-color: var(--main-bg-gray);
  margin: 10px auto;
  border-radius: var(--main-border-r);
  line-height: 1.6em;
  padding: 20px;
  font-size: 1.45em;
}
.shadow-bg a {
  font-weight: 800;
}

.skills div {
  margin-top: 7px;
  display: flex;
  justify-content: space-around;
}

.skills ul {
  list-style-type: none;
  text-align: center;
}

.fab {
  color: rgb(54, 54, 54);
}

.links-grid {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--main-border-r);
  transition: background-color 250ms;
  padding: 25px;
}

.link:hover {
  background-color: var(--main-bg-blue);
}

.link:hover > .fab {
  color: var(--link-light);
}

.link .fab {
  font-size: 7vh;
}

@media (prefers-color-scheme: dark) {
  .shadow-bg,
  .link {
    background-color: var(--container-bg-dark);
  }
  .fab {
    color: var(--text-dark);
  }
  .skills::before {
    border-bottom-color: var(--link-dark);
  }
  .link:hover {
    background-color: var(--link-dark);
  }
  .link:hover > .fab {
    color: #444388;
  }
}
