h1 {
  font-size: 3.5em;
  color: rgb(212, 212, 212);
}

.primary {
  font-size: 1.725rem;
  line-height: 1.5em;
  font-weight: 400;
  margin: 15px auto;
}

.shadow-bg {
  background-color: var(--main-bg-gray);
  margin: 10px auto;
  border-radius: var(--main-border-r);
  line-height: 1.75em;
  padding: 20px;
  font-size: 1.45em;
}
.shadow-bg a {
  font-weight: 800;
}

.skills::before {
  content: "Skills";
  font-weight: bold;
  border-bottom: rgb(212, 212, 212) 4px solid;
  padding-bottom: 1px;
  font-size: 1.4em;
}

.skills div {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
}

.skills ul {
  list-style-type: none;
  border: rgb(152, 114, 240) 2px dashed;
  padding: 15px 20px;
  min-width: 150px;
  text-align: center;
}

.fab {
  color: rgb(54, 54, 54);
}

.links-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin-top: 1.2em;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--main-border-r);
  height: 20vh;
  background-color: var(--main-bg-gray);
  transition: background-color 250ms;
}

.link:hover {
  background-color: var(--main-bg-blue);
}

.link:hover > .fab {
  color: var(--link-light);
}

.link .fab {
  font-size: 10vh;
}

@media (prefers-color-scheme: dark) {
  .shadow-bg,
  .link {
    background-color: var(--container-bg-dark);
  }
  .fab {
    color: var(--text-dark);
  }
  .link:hover {
    background-color: var(--link-dark);
  }
  .link:hover > .fab {
    color: #444388;
  }
}
