:root {
  --main-highlight-blue: rgb(57, 105, 238);
  --main-highlight-dark: rgb(54, 54, 54);
  --main-bg-gray: rgb(245, 245, 245);
  --main-bg-blue: rgba(168, 198, 255, 0.377);
  --main-bg-dark: rgb(34, 34, 34);
  --main-border-r: 7px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--main-bg-dark);
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 5px;
  max-width: 854px;
  margin: 0 auto;
}
.home {
  font-size: 28px;
  font-weight: 800;
  color: white;
}
.menu-bar {
  display: none;
}

.menu {
  font-weight: 700;
  font-size: 1.2em;
  background-color: rgba(247, 247, 247, 0.979);
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
  padding: 0 2em;
}

.menu ul {
  list-style: none;
}

.menu a {
  color: var(--main-bg-dark);
}
.menu li {
  border-bottom: #cfcfcf 1px solid;
  padding: 10px 0;
}

.menu li:hover {
  background-color: rgb(255, 255, 255);
}

.main-container {
  padding: 80px 5vw 20px 5vw;
  max-width: 768px;
  margin: 0 auto;
}

h1 {
  font-size: 3.5em;
  color: rgb(202, 202, 202);
}

.primary {
  font-size: 1.8rem;
  line-height: 1.75em;
  font-weight: 400;
  margin: 1em auto;
}

.intro {
  background-color: var(--main-bg-gray);
  margin: 10px auto;
  border-radius: var(--main-border-r);
  line-height: 1.75em;
  padding: 20px;
  font-size: 1.45em;
}
.intro a {
  color: var(--main-highlight-blue);
  font-weight: 800;
}
.links-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin-top: 1.2em;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--main-border-r);
  height: 20vh;
  background-color: var(--main-bg-gray);
  transition: background-color 250ms;
}

.link:hover {
  background-color: var(--main-bg-blue);
}

.link:hover > .fas,
.link:hover > .fab {
  color: var(--main-highlight-blue);
}

.fab,
.fas {
  color: var(--main-highlight-dark);
  font-size: 10vh;
}

/* hamburger animation */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: white;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham .top {
  stroke-dasharray: 40 121;
}
.ham .bottom {
  stroke-dasharray: 40 121;
}
.ham.active .top {
  stroke-dashoffset: -68px;
}
.ham.active .bottom {
  stroke-dashoffset: -68px;
}

@media only screen and (min-width: 600px) {
  #navigation .ham {
    display: none;
  }
  .menu-bar {
    display: block;
  }

  .menu-bar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .menu-bar ul li {
    color: white;
    padding: 16px 25px;
    font-size: 1.5em;
  }

}


