:root {
  --main-highlight-blue: rgb(57, 105, 238);
  --main-highlight-dark: rgb(54, 54, 54);
  --main-bg-gray: rgb(245, 245, 245);
  --main-bg-blue: rgba(168, 198, 255, 0.377);
  --main-bg-dark: rgb(34, 34, 34);
  --main-border-r: 7px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#navigation {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-bg-dark);
  padding: 10px 20px;
}
.home {
  font-size: 36px;
  font-weight: 800;
  color: white;
}
#burger {
  font-size: 5vh;
  color: var(--main-highlight-dark);
  color:white;
}
.main-container {
  padding: 2vh 5vw;
}

h1 {
  font-size: 3.5em;
  color: rgb(202, 202, 202);
}

.focus {
  font-size: 1.5em;
  line-height: 1.75em;
}

.intro {
  background-color: var(--main-bg-gray);
  margin: 10px auto;
  border-radius: var(--main-border-r);
  line-height: 1.75em;
  padding: 20px;
  font-size: 1.1em;
}
.intro a{
  color: var(--main-highlight-blue);
  font-weight: 800;
}
.links-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin-top: 1.2em;
}
.no-decor {
  text-decoration: none;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--main-border-r);
  height: 20vh;
  background-color: var(--main-bg-gray);
  transition: background-color 250ms;
}

.link:hover {
  background-color: var(--main-bg-blue);
}

.link:hover > .fas,
.link:hover > .fab {
  color: var(--main-highlight-blue);
}

.fab,
.fas {
  color: var(--main-highlight-dark);
  font-size: 10vh;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:rgb(104, 104, 104);
 position:absolute;
 bottom: 0;
  width: 100%;
  height: 3em;
}
