h1 {
  text-align: center;
}

.resume-section {
  margin-bottom: 1.5em;
  line-height: 1.5em;
  font-size: 1.1em;
}
.section-header i {
  margin-right: 10px;
}

.section-header {
  margin-bottom: 10px;
}

.description,
.degree {
  margin-bottom: 1.35em;
}

.duration {
  color: rgb(139, 139, 139);
}

h3 {
  font-size: 1.1em;
}

.location {
  font-style: italic;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#education .name {
  font-weight: 700;
}

ul {
  list-style-type: none;
}

ul[title]::before {
  content: attr(title);
  font-size: 1.1em;
  font-weight: 800;
}

.resume-section i {
  margin-right: 10px;
}

.resume-section a {
  font-weight: 500;
}
