.resume-section {
  margin-bottom: 1.5em;
  line-height: 1.5em;
  font-size: 1.1em;
}
.section-header i {
  margin-right: 10px;
}

.section-header {
  margin-bottom: 10px;
}

#professional-experience .title {
  font-size: 1.1em;
}
#professional-experience .location {
  font-style: italic;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
